/* style.css */

/* google fonts */
.jetbrains {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.monda {
  font-family: "Monda", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
	background-color: lightgreen;
}
